

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
}

img {
  width: 50px;
  height: 50px;
}

.emoji-general-container {
  display: flex;
  height: 50vh;
  justify-content: center;
  align-items: end;
  margin: 0 0 50px 0;
}


.button-results {
  display: block;
  margin: 0 auto;
}

.emoji.active {
  position: absolute;
  top: 60px;
  left: calc(50% - 75px);
}

.emoji.active img{
  width: 150px;
  height: 150px;
}

.counter {
  min-width: 30px;
}

.counter.active {
  position: absolute;
}
